@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  background-color: #111;
  color: white;
}

*{
  padding: 0;
  margin: 0;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  flex-direction: column;
}

.section{
  height: 100vh;
  width: 100vw;
}

.name{
  font-size: 100px;
  font-weight: 900;
  font-family:'Roboto',sans-serif;
}

.glow:hover{
  opacity: 1;
  filter: blur(0px);
  box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
}

.glow{
  opacity: 0.8;
  filter: blur(0.2px);
}

.first{
  animation: right 2s linear;
}

@keyframes right{ 
  0%{
    opacity: 0 ;
    transform: translateX(200px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

.last{
  animation: left 2s linear;
}

@keyframes left{ 
  0%{
    opacity: 0 ;
    transform: translateX(-200px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

.title{
  animation: title 4s linear;
}

@keyframes title{ 
  0%{
    opacity: 0 ;
   
  }50%{
    opacity: 0 ;
  }
  100%{
    opacity: 1;
  }
}

.subtitle{
  animation: subtitle 4s linear;
}

@keyframes subtitle{ 
  0%{
    opacity: 0 ;
   
  }75%{
    opacity: 0 ;
  }
  100%{
    opacity: 1;
  }
}

.fade{
  animation: fade 1s linear;
}

@keyframes fade{ 
  0%{
    opacity: 0 ;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 680px){
  .screen{
    flex-direction: column;
  }
}

